<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerência Funcionário</title>

    <!-- Fontes do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gerencia.css">

</head>

<body>
    <header class="headerGeneric">
        <div class="logo_name">
            <p>TemDTudo</p>
        </div>
        <div class="link_pages">
            <a href="/home">Home</a>
            <a href="/funcionarios" style="text-decoration: underline;">Gerência</a>
            <a href="{{url('buscaFunc')}}">Busca</a>
            <a href="">Venda</a>
            <a href="{{url('perfil')}}"><img src="/img/user.svg" alt="Icone Perfil Abstrato"></a>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <h1 class="text-center">Cadastrar Novo Funcionário</h1>
            <div class="card-body">
                <form th:action="@{/funcionarios}" th:object="${funcionario}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nome:</label>
                            <input type="text" th:field="*{nome}" class="form-control"
                                placeholder="Nome do Funcionário">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Endereço:</label>
                            <input type="text" th:field="*{endereco}" class="form-control"
                                placeholder="Endereço do Funcionário">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>CPF:</label>
                            <input type="text" th:field="*{cpf}" value="2023-09-08T00:00:00" class="form-control"
                                placeholder="CPF do Funcionário">
                        </div>

                        
                        <div class="form-group col-md-6">
                            <label>CEP:</label>
                            <input type="text" th:field="*{cep}" class="form-control"
                                placeholder="CPE do Funcionário">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Telefone:</label>
                            <input type="text" th:field="*{telefone}" class="form-control"
                                placeholder="Telefone do Funcionário">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Senha:</label>
                            <input type="password" th:field="*{senha}" class="form-control"
                                placeholder="Senha do Funcionários">
                        </div>
                    </div>

                    <div class="box-footer">
                        <a href="/funcionarios" class="btn btn-danger">Cancelar</a>
                        <button type="submit" id="btn-cadastrar" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>